@mixin pri-button($width, $height: 50px, $radius: 10px) {
  width: $width;
  height: $height;
  border-radius: $radius;
  background-color: aqua;
}

.btn {
  @include pri-button(100px, 50px, 5px);
}

.btn-lg {
  @include pri-button(200px, 100px);
}

.btn__ {
  @include pri-button(100px, $radius: 20px);
}
